personlist.eq{background:url("/images/join_bl.png") 0 3px no-repeat;padding:0 0 0 10px;}

.eqc{
	margin-top:-10px;
	margin-left:-10px;
	position:absolute;
	color:#ff0000;
}

.mCadeTit01{
	color:#317cc1;
	font-weight:bold;
	font-size:15px;
}

.mCadeTit02{
	color:#317cc1;
	font-weight:bold;
	font-size:18px;
	margin-bottom:4px;
}


input[type="radio"]{
	width: 18px;
	height: 18px;
	background-color: #fff;
	/*vertical-align: -5px;*/
	cursor:pointer;
}


.cbtn{font-family:inherit;vertical-align:middle;white-space:nowrap}

.cbtn, .cbtn:link, .cbtn:visited {
	display: inline-block; 
	color: #fff; 
	text-decoration: none;
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
	position: relative;
	cursor: pointer
}
 
.cbtn:hover{
	background-color: #111; color: #fff;
}

.cbtn:active{
	top: 1px;
}

.mini.cbtn:link, .mini.cbtn:visited{
	font-size: 11px;
	padding: 3px;
	color: #fff;
	text-align:center;
}

.small.cbtn:link, .small.cbtn:visited{
	font-size: 12px;
	padding: 7px 12px;
	color: #fff;
	text-align:center;
}

.super.cbtn:link, .super.cbtn:visited{
	font-size: 13px;
	padding: 5px 10px;
	color: #fff;
	text-align:center;
}

.big.cbtn:link, .big.cbtn:visited{
	font-size: 13px;
	padding:8px 18px;
	color: #fff;
	text-align:center;
}

.sbig.cbtn:link, .sbig.cbtn:visited{
	font-size: 15px;
	padding: 13px 25px;
	color: #fff;
	text-align:center;
	font-weight:bold;
}






.cbtn.red, .cbtn.red:visited{background-color: #ff9000;}
.cbtn.red:hover{background-color: #e88402;}

.cbtn.blue, .cbtn.blue:visited{	background-color: #666666;}
.cbtn.blue:hover{background-color: #555555;}

.cbtn.black, .cbtn.black:visited{background-color: #777777;}
.cbtn.black:hover{background-color: #666666;}

.cbtn.green, .cbtn.green:visited{background-color: #4f9922;}
.cbtn.green:hover{background-color: #2f690c;}

.cbtn.blood, .cbtn.blood:visited{background-color: #ac0303;}
.cbtn.blood:hover{background-color: #740202;}


.cbtn.white, .cbtn.white:visited{
	background-color: #fff;
	color:#666 !important;
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.6);
	text-shadow: 0 0px 0px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.25);
}
.cbtn.white:hover{
	background-color: #ccc;
	color:#666 !important;
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.6);
	text-shadow: 0 0px 0px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.25);
}






.button{font-family:inherit;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;vertical-align:middle;white-space:nowrap;text-align:center;font-weight:bold;}

.button, .button:visited {
	display: inline-block; 
	color: #fff; 
	text-decoration: none;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}
 
.button:hover{
	background-color: #111; color: #fff;
}

.button:active{
	top: 1px;
}

.small.button, .small.button:visited{
	font-size: 12px;
	padding: 5px;
	color: #fff;
	text-align:center;
}

.super.button, .super.button:visited{
	font-size: 13px;
	padding: 5px 10px;
	color: #fff;
	text-align:center;
}

.big.button, .big.button:visited{
	font-size: 13px;
	padding: 10px 20px;
	color: #fff;
	text-align:center;
	font-weight:bold;
}


.red.button, .red.button:visited{background-color: #ff9000;}
.red.button:hover{background-color: #e88402;}

.blue.button, .blue.button:visited{	background-color: #52809a;}
.blue.button:hover{background-color: #34566a;}

.black.button, .black.button:visited{background-color: #777777;}
.black.button:hover{background-color: #000000;}











.pTable {border-collapse:collapse;border-spacing:0px;width:100%;}
.pTable th {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:center;
}

.pTable td {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}

.nTable td{
	border:0px;
	padding:0px;
	height:10px;
}


.gTxt{
	border-top:2px solid #aaaaaa;
	color:#777;
	font-weight:600;
	font-size:13px;
	background:#f2f2f2;
	padding:15px;
}



.gTable {border-collapse:collapse;border-spacing:0px;width:100%;}
.gTable th {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:left;
	padding:0px 0px 0px 15px;
}

.gTable td {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}


.gTable input[type=text],input[type=file]{height:28px;}
.gTable select{height:28px;}

.gTable td table td{
	border:0px;
	padding:0px;
	height:10px;
}








.sTable {border-collapse:collapse;border-spacing:0px;width:100%;}
.sTable th {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:35px;
	color:#fff;
	font-weight:600;
	font-size:14px;
	background:#676767;
	text-align:center;
}

.sTable td {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:35px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}


.sTable td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.sTable input[type=text], input[type=file]{
	border:1px solid #999;
	height:28px;
}

.sTable select{
	height:28px;
} 









.gTable2 {border-collapse:collapse;border-spacing:0px;width:100%;}
.gTable2 th {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:center;
	/*padding:0px 0px 0px 15px;*/
}

.gTable2 th:first-child{
	border-left:0px;
}

.gTable2 th:last-child{
	border-right:0px;
}

.gTable2 td {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}

.gTable2 td:first-child{
	border-left:0px;
}

.gTable2 td:last-child{
	border-right:0px;
}

.gTable2 td.h{
	height:20px;
}

.gTable2 td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.gTable2 td input[type="text"],.gTable2 td input[type="password"],.gTable2 td input[type="number"]{
	padding:0px 0px 0px 5px;
	height:30px;
	border:1px solid #bbb;
}

.gTable2 select{height:30px;}









.gTable3 {border-collapse:collapse;border-spacing:0px;width:100%;}
.gTable3 th {
	border:1px solid #ccc;
	height:30px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:left;
	padding:0px 0px 0px 15px;
}

.gTable3 th:first-child{
	border-left:0px;
}

.gTable3 th:last-child{
	border-right:0px;
}

.gTable3 td {
	border:1px solid #ccc;
	height:30px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}

.gTable3 td:first-child{
	border-left:0px;
}

.gTable3 td:last-child{
	border-right:0px;
}

.gTable3 td.h{
	height:20px;
}

.gTable3 td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.gTable3 td input[type="text"],.gTable3 td input[type="password"]{
	padding:0px 0px 0px 5px;
	height:30px;
	border:1px solid #bbb;
}

.gTable3 select{height:30px;}









.mTable {border-collapse:collapse;border-spacing:0px;width:100%;}
.mTable th {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:left;
	padding:0px 0px 0px 15px;
}

.mTable td {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}


.mTable td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.mTable input[type=text],.mTable input[type=password],.mTable input[type=file]{
	border:1px solid #999;
	height:28px;
}



.listTable {border-collapse:collapse;border-spacing:0px;width:100%;}
.listTable th {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:center;
}

.listTable th:first-child{
	border-left:0px;
}

.listTable th:last-child{
	border-right:0px;
}

.listTable td {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}

.listTable td:first-child{
	border-left:0px;
}

.listTable td:last-child{
	border-right:0px;
}

.listTable td.h{
	height:20px;
}

.listTable th table td{
	border:0px;
	padding:0px;
	height:10px;
}




.listTable2 {border-collapse:collapse;border-spacing:0px;width:100%;}
.listTable2 th {
	border:0px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:center;
}

.listTable2 td {
	border:0px;
	border-bottom:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
}


.listTable2 td.h{
	height:20px;
}

.listTable2 th table td{
	border:0px;
	padding:0px;
	height:10px;
}



/*gTable2 수정테이블 zTable*/

.zTable {border-collapse:collapse;border-spacing:0px;width:100%;border-top:2px solid #8d8d8d;border-bottom:1px solid #8d8d8d}
.zTable th {
	border:1px solid #ccc;
	height:55px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:left;
	padding:0px 0px 0px 15px;
}

.zTable tr:first-child th{
	border-top:none;
}
.zTable tr:first-child td{
	border-top:none;
}





.zTable th:first-child{
	border-left:0px;
}

.zTable th:last-child{
	border-right:0px;
}

.zTable td {
	border:1px solid #ccc;
	color:#777;
	font-size:13px;
	padding:5px 10px;
	padding-left:15px;
	background:#ffffff;
}

.zTable td:first-child{
	border-left:0px;
}

.zTable td:last-child{
	border-right:0px;
}

.zTable td.h{
	height:20px;
}

.zTable td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.zTable td input[type="text"], .zTable td input[type="password"]{
	padding:0px 0px 0px 5px;
	height:30px;
	border:1px solid #bbb;
}

.zTable select{height:30px;}


.content_iframe iframe{
	width:100% !important;
	max-width:1100px !important;
	min-height:400px !important;
}




.zTable0 {border-collapse:collapse;border-spacing:0px;border-bottom:1px solid #dddddd;margin-bottom:80px;}
.zTable0 th {
	height:40px;
	color:#333;
	font-weight:600;
	font-size:15px;
	text-align:left;
	padding:0px 15px 0px 15px;
	letter-spacing:15;
}

.zTable0 tr:first-child th{
	border-top:none;
}
.zTable0 tr:first-child td{
	border-top:none;
}



.zTable0 th:first-child{
	border-left:0px;
}

.zTable0 th:last-child{
	border-right:0px;
}

.zTable0 td {
	height:40px;
	color:#444;
	font-size:15px;
	padding:0px 10px;
	padding-left:15px;
	background:#ffffff;
	line-height:1.6;
}

.zTable0 td:first-child{
	border-left:0px;
}

.zTable0 td:last-child{
	border-right:0px;
}

.zTable0 td.h{
	height:20px;
}

.zTable0 td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.zTable0 td input[type="text"], .zTable0 td input[type="password"]{
	padding:0px 0px 0px 5px;
	height:30px;
	border:1px solid #bbb;
}

.zTable0 select{height:30px;}




.zTable1 {border-collapse:collapse;border-spacing:0px;width:100%;border-top:2px solid #8d8d8d;border-bottom:2px solid #8d8d8d}
.zTable1 th {
	border:1px solid #ccc;
	height:55px;
	color:#777;
	font-weight:600;
	font-size:13px;
	background:#f9f9f9;
	text-align:center;
}

.zTable1 tr:first-child th{
	border-top:none;
}
.zTable1 tr:first-child td{
	border-top:none;
}





.zTable1 th:first-child{
	border-left:0px;
}

.zTable1 th:last-child{
	border-right:0px;
}

.zTable1 td {
	border:1px solid #ccc;
	height:55px;
	color:#777;
	font-size:13px;
	padding:0 10px;
	text-align:center;
}

.zTable1 td:first-child{
	border-left:0px;
}

.zTable1 td:last-child{
	border-right:0px;
}

.zTable1 td.h{
	height:20px;
}

.zTable1 td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.zTable1 td input[type="text"], .zTable1 td input[type="password"]{
	padding:0px 0px 0px 5px;
	height:30px;
	border:1px solid #bbb;
}

.zTable1 select{height:30px;}






/*zTable 수정테이블 zTable2*/


.zTable2{border-collapse:collapse;border-spacing:0px;width:100%;border-bottom:2px solid #cccccc}
.zTable2 th {
	border:1px solid #e1e1e1;
	height:55px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f8f9fa;
	text-align:left;
	padding:0px 0px 0px 15px;
}

.zTable2 tr:first-child th{
	border-top:none;
}
.zTable2 tr:first-child td{
	border-top:none;
}





.zTable2 th:first-child{
	border-left:0px;
}

.zTable2 th:last-child{
	border-right:0px;
}

.zTable2 td {
	border:1px solid #e1e1e1;
	height:55px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
	padding-left:15px;
}

.zTable2 td:first-child{
	border-left:0px;
}

.zTable2 td:last-child{
	border-right:0px;
}

.zTable2 td.h{
	height:20px;
}

.zTable2 td table td{
	border:0px;
	padding:0px;
	height:10px;
}

.zTable2 td input[type="text"], .zTable td input[type="password"]{
	padding:0px 0px 0px 5px;
	height:30px;
	border:1px solid #bbbbbb;
}

.zTable2 select{height:30px;}





.rTable {border-collapse:collapse;border-spacing:0px;width:100%;}
.rTable th {
	border-top:2px solid #ccc;
	border-bottom:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:center;
}

.rth {
	border-top:2px solid #ccc;
	border-bottom:1px solid #ccc;
	height:40px;
	color:#777;
	font-weight:600;
	font-size:14px;
	background:#f9f9f9;
	text-align:center;
}

.rTable td {
	border-bottom:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
	text-align:center;
}

.rTable input[type=text],input[type=file]{height:28px;border:1px solid #ccc;}
.rTable select{height:28px;}

.rTable td table td{
	border:0px;
	padding:0px;
	height:10px;
}







.aTable01 {border-collapse:collapse;border-spacing:0px;width:100%;}
.aTable01 th {
	border-top:1px solid #bcbcbc;
	border-bottom:1px solid #bcbcbc;
	height:40px;
	color:#777;
	padding:8px 0px;
	background:#f6f6f6;
	text-align:center;
}

.aTable01 td {
	border-top:1px solid #bcbcbc;
	border-bottom:1px solid #bcbcbc;
	height:40px;
	color:#777;
	font-size:14px;
	padding:5px 10px;
	text-align:center;
}

.aTable01 th table td{
	border:0px;
	padding:0px;
	height:10px;
}

.aTable01 tr:nth-child(2n-1){background:#fafbff;}




/* 일정관리달력 */
.cal_ttl01{
	font-weight:600;
	font-size:14pt;
}

.cal_table {border-collapse:collapse;border-spacing:0px;width:100%;}

.cal_table th{
	background:#727272;
	font-weight:600;
	border:1px solid #d2d2d2;
	color:#fff;
	font-size:13px;
	text-align:center;
	height:30px;
}

.cal_table td {
	border:1px solid #dbdbdb;
	color:#777;
	font-size:14px;
}

.cal_table td table td{
	border:0px;
	padding:0px;
}


.formTable {border-collapse:collapse;border-spacing:0px;}
.formTable th {
	border:1px solid #ccc;
	height:50px;
	color:#666;
	font-weight:600;
	font-size:16px;
	background:#f9f9f9;
	text-align:left;
	padding:0px 0px 0px 15px;
}

.formTable td {
	border:1px solid #ccc;
	height:40px;
	color:#777;
	font-size:15px;
	padding:5px 10px;
}


.formTable input[type=text], .formTable input[type=password], .formTable input[type=file], .formTable input[type=number]{height:30px;border: 1px solid #ccc;}
.formTable select{height:28px;}

.formTable td table td{
	border:0px;
	padding:0px;
	height:10px;
}


.persontitle{
	clear:both;
	float:left;
	width:160px;
	font-size:35px;
	line-height:45px;
	letter-spacing: -1px;
	color:#287ed9;
	padding-top:23px;
}

.persontable{
	width:600px;
	font-size:15px;
}

.personlist{
	width:100%;
	color:#353535;
	border-top:2px solid #aeb3ba;
	border-bottom:1px solid #d7d7d7;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	line-height:normal;
	margin-bottom:15px;
}


.personlist th{
	border-top:1px solid #46748c;
	background:#f1f5f9;
	border-bottom:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	padding:7px 0;
	color:#333333;
	font-size:12px;
	text-align:center;	
	font-weight:600;
}
.personlist td{
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	padding:7px 0;
	color:#333333;
	font-size:12px;
	text-align:center;
	line-height:150%;
}

.personlist td:last-child{
	border-right:1px solid #ffffff;
	text-align:left;
	padding-left:15px;
}
</style>




/*파일첨부 스타일링*/
.file_input{float:left;}
.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:100px;
    height:29px;
    background:#777;
    color:#fff;
    text-align:center;
    line-height:30px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
	z-index:-1;
}
.file_input input[type=text] {
    vertical-align:middle;
    display:inline-block;
    width:200px;
    height:28px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border:1px solid #e2e2e2;
}
.file_input label:hover{
background:#666666;
}
.map_more3{
    vertical-align:middle;
    display:inline-block;
    width:400px;
    height:28px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border:1px solid #e2e2e2;
	border-radius:5px;
	padding-left:10px;
	margin-top:5px;

}
.map_more2{
    vertical-align:middle;
    display:inline-block;
    width:350px;
    height:28px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border:1px solid #e2e2e2;
	border-radius:5px;
	padding-left:10px;

}
.map_more{
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:100px;
    height:30px;
    background:#777;
    color:#ffffff !important;
    text-align:center;
    line-height:30px;
	border-radius:5px;
}
.map_more:hover{
background:#9b9b9b;
}



/* 체크박스 스타일링 */
.squaredThree {
	width: 20px;	
	position: relative;
	float:left;
}
.squaredThree input[type="checkbox"]{
display:none;
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: 0;
	border-radius: 4px;
	border:1px solid #888;

	-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #fff 100%);
	background: -ms-linear-gradient(top, #fff 0%, #fff 100%);
	background: linear-gradient(top, #fff 0%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 12px;
	height: 8px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 3px solid #f00;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree input[type=checkbox]:checked + label {
	background:#eee;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background:#eee;
	opacity: 1;
}






.squaredBox {
	width: 20px;	
	position: relative;
	margin:0 auto;
}
.squaredBox input[type="checkbox"]{
	display:none;
}

.squaredBox label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -10px;
	left:0;
	border-radius: 4px;
	border:1px solid #888;


	-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #fff 100%);
	background: -ms-linear-gradient(top, #fff 0%, #fff 100%);
	background: linear-gradient(top, #fff 0%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}

.squaredBox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #f00;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.squaredBox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}



.ico01{height:14px; padding:2px; border-radius:3px; background:#acc000; color:#fff;}
.ico02{height:14px; padding:2px; border-radius:3px; background:#6fbc00; color:#fff;}
.ico03{height:14px; padding:2px; border-radius:3px; background:#00b361; color:#fff;}

.ico04{height:14px; padding:2px; border-radius:3px; background:#00b2c7; color:#fff;}
.ico05{height:14px; padding:2px; border-radius:3px; background:#00a0eb; color:#fff;}
.ico06{height:14px; padding:2px; border-radius:3px; background:#0071d0; color:#fff;}

.ico07{height:14px; padding:2px; border-radius:3px; background:#ffa800; color:#fff;}
.ico08{height:14px; padding:2px; border-radius:3px; background:#ff6c00; color:#fff;}
.ico09{height:14px; padding:2px; border-radius:3px; background:#ff5432; color:#fff;}

.ico10{height:14px; padding:2px; border-radius:3px; background:#a1a1a1; color:#fff;}
.ico11{height:14px; padding:2px; border-radius:3px; background:#de712e; color:#fff;}


.sco01{height:14px; padding:2px; border-radius:3px; background:#e67386; color:#fff;}
.sco02{height:14px; padding:2px; border-radius:3px; background:#9ba629; color:#fff;}
.sco03{height:14px; padding:2px; border-radius:3px; background:#42a6a6; color:#fff;}
.sco04{height:14px; padding:2px; border-radius:3px; background:#5b74a6; color:#fff;}
.sco05{height:14px; padding:2px; border-radius:3px; background:#46748c; color:#fff;}
.sco06{height:14px; padding:2px; border-radius:3px; background:#c28034; color:#fff;}
.sco07{height:14px; padding:2px; border-radius:3px; background:#a46bcb; color:#fff;}


.ssco01{height:14px; padding:10px; border-radius:3px; background:#e67386; color:#fff;}
.ssco02{height:14px; padding:10px; border-radius:3px; background:#9ba629; color:#fff;}
.ssco03{height:14px; padding:10px; border-radius:3px; background:#42a6a6; color:#fff;}
.ssco04{height:14px; padding:10px; border-radius:3px; background:#5b74a6; color:#fff;}
.ssco05{height:14px; padding:10px; border-radius:3px; background:#46748c; color:#fff;}
.ssco06{height:14px; padding:10px; border-radius:3px; background:#c28034; color:#fff;}
.ssco07{height:14px; padding:10px; border-radius:3px; background:#a46bcb; color:#fff;}

.limitTxt{
	padding:2% 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}



.bannerGuideOn{
	display:block;
	position:absolute;
	background:#000;
	-moz-opacity:0.5 !important;-webkit-opacity:0.5 !important;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)' !important;filter:alpha(opacity=50) !important;opacity:0.5 !important
}
.bannerGuideOff{
	display:none;
}






/* 대관신청 */
.quantity_wrap {height:24px;}
.quantity_wrap .quantity_wdt p {text-align:center;background:#eee;width:20px;height:25px;border:1px solid #ccc;float:left;font-size:15px;line-height:23px;}
.quantity_wrap .quantity_wdt .center_quant {width:44px;background:#fff;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:0px;border-left:0px;}
.quantity_wrap .quantity_wdt .input_center_quant{width:100%;height:25px;border:0px;text-align:center;}
.quantity_tot {font-size:22px;letter-spacing:-1px;color:#666;padding-left:10px;font-family:'Nanum Gothic';font-weight:800;}
.care {font-size:14px !important;line-height:25px !important;}
.care .bold {font-weight:800;text-decoration:underline;}






/* 예약달력 */
.Bico01{height:14px; padding:2px; border-radius:3px; background:#acc000; color:#fff;}
.Bico02{height:14px; padding:2px; border-radius:3px; background:#6fbc00; color:#fff;}
.Bico03{height:14px; padding:2px; border-radius:3px; background:#00b361; color:#fff;}
.Jico01{height:14px; padding:2px; border-radius:3px; background:#FEBC11; color:#fff;}
.Jico02{height:14px; padding:2px; border-radius:3px; background:#00a0eb; color:#fff;}
.Jico03{height:14px; padding:2px; border-radius:3px; background:#0071d0; color:#fff;}
.Sico01{height:14px; padding:2px; border-radius:3px; background:#ffa800; color:#fff;}
.Sico02{height:14px; padding:2px; border-radius:3px; background:#ff6c00; color:#fff;}
.Sico03{height:14px; padding:2px; border-radius:3px; background:#F47C46; color:#fff;}

.Nico01{height:14px; padding:2px; border-radius:3px; background:#a1a1a1; color:#fff;}


.textBox01{
	height:30px;
	color:#777;
	border-radius:5px;
	border:1px solid #ccc;
	padding:0 0 0 3px;
}

.textBox01.dis{
	border:1px solid #ff0000;
}

.textBox01::-webkit-input-placeholder {color:#b5b5b5;}
.textBox01::-moz-placeholder {color:#b5b5b5;}
.textBox01:-ms-input-placeholder {color:#b5b5b5;}


.reserveInfoBox { padding:5px; border:2px solid #0081ba; border-radius:3px; background-color:#fff; position:absolute; display:none; }        
.reserveInfoBox:after, .reserveInfoBox:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.reserveInfoBox:after {
	border-color: rgba(252, 252, 252, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.reserveInfoBox:before {
	border-color: rgba(255, 101, 89, 0);
	border-right-color: #0081ba;
	border-width: 8px;
	margin-top: -8px;
}
.reserveInfoBoxSat { padding:5px; border:2px solid #0081ba; border-radius:3px; background-color:#fcfcfc; position:absolute; display:none; }
.reserveInfoBoxSat:after, .reserveInfoBoxSat:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.reserveInfoBoxSat:after {
	border-color: rgba(252, 252, 252, 0);
	border-left-color: #fcfcfc;
	border-width: 5px;
	margin-top: -5px;
}
.reserveInfoBoxSat:before {
	border-color: rgba(255, 101, 89, 0);
	border-left-color: #0081ba;
	border-width: 8px;
	margin-top: -8px;
}
.reserveInfoTitle { width:100%; border-bottom:2px dotted #C8C8C8; font-weight:600; padding:5px 0px; position:relative; color:#454545;font-family:NanumGothic; font-size:12px;}
.reserveInfoContent { margin-top:5px; width:100%; position:relative; color:#666; line-height:135%;}

.revRoom{font-family:NanumGothic; font-size:12px; color:#666;text-decoration: none;}
.revRoom:link{font-family:NanumGothic; font-size:12px; color:#666;text-decoration: none;}
.revRoom:hover{font-family:NanumGothic; font-size:12px; color:#666;text-decoration: underline;}
.revRoom:visited{font-family:NanumGothic; font-size:12px; color:#666;text-decoration: none;}
.revRoom:active{font-family:NanumGothic; font-size:12px; color:#666;text-decoration: none;}


#revUserName{font-family:NanumGothic; font-size:12px;}



.rc_btn p{
float:left;
margin-left:30px;
font-size:14px;
font-weight:bold;
line-height:20px;
}

.rc_btn .squaredThree{
float:left;
}




.rl_btn01 .squaredThree{
	position:relative;
	top:-10px;
}

.rl_btn02 .squaredThree{
	position:relative;
	top:-10px;
	left:-6px;
}

.rl_btn03 .squaredThree{
	position:relative;
	top:-10px;
	left:-105px;
}



/* 알림창 */
.popup_background {background:#fff;z-index:99999999999999999999999999999; border-radius:3px}
.close_button_pop {background:url("/module/popupoverlay/btn_close_pop.gif")no-repeat;border-collapse:collapse;border:0;width:17px;height:18px;cursor:pointer;background-size:cover;}
.cls_buttonali {
width:96%;
padding:13px;
text-align:right;
position: absolute;
width: 17px;
right: 0;
}
.popup_ali {padding-left:4%;padding-right:6%;padding-bottom:9%;}
.popup_notice {padding:0 20px;}
.radio_style5 {position:relative;top:5px;}
.pop_div_dotted {border-bottom:1px dotted #e1e1e1;clear:both;width:100%;height:1px;margin-top:10px;margin-bottom:10px;}
.write_it {font-size:14px;font-weight:normal;color:#656565;padding-top:20px;padding-bottom:20px;text-align:center;}
.txt_bold {font-weight:bold;}
.btn_ali_pop2 {text-align:center;padding-top:5px;margin:0 auto;width:150px;margin-bottom:30px;}
.btn_notice_reg {background:#5f5f5f;font-size:15px;font-weight:normal;padding:10px 15px 10px 15px;color:#fff;font-weight:bold;border:0;font-family:'Nanum Gothic';cursor:pointer;width:150px;}

.btn2_wrap {margin:0 auto;width:210px;}
.btn_notice_reg_add {background:#5f5f5f;font-size:15px;font-weight:normal;padding:10px 15px 10px 15px;color:#fff;font-weight:bold;border:0;font-family:'Nanum Gothic';cursor:pointer;width:100px;}
.btn_notice_reg_cancel {background:#d1d1d1;font-size:15px;font-weight:normal;padding:10px 15px 10px 15px;color:#fff;font-weight:bold;border:0;font-family:'Nanum Gothic';cursor:pointer;width:100px;}
.btn_ali_pop3 {text-align:center;margin:0 auto;width:100px;margin-bottom:30px;float:left;margin-right:5px;}
.btn_ali_pop3 input:hover,.btn_ali_pop2 input:hover{
background-color:#1649a7;
}

.btn_ali_pop3 input,.btn_ali_pop2 input{
border-radius:3px
}
.img_clear{width:24px;float:left;margin-right:3px;margin-top:10px;}
.img_clear img{width:100%;}
.pop_ttl0{float:left;line-height:25px;font-weight:600;color:#333;font-size:15px;margin-top:10px;}



.hp_q{
	background-color:#cf1919;
	width:18px;
	text-align:center;
	border-radius:10px;
	color:#fff;
	float:left;
	position:relative;
	height:18px;
	display:block;
	color:#fff;
	line-height:20px;
}

.bntstyle1 {
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #7d86a6;
    color: #fff;
    display: block;
    float: left;
    line-height: 40px;
    font-size: 14px;
}


