#fullpage_sub01 .sec01,
#fullpage_sub01 .sec03 {
	overflow: hidden;
}

#fullpage_sub01 .pagesideTit {
	position: absolute;
	top: 34%;
	left: -70px;
	transform: rotate(90deg);
	font-size: 4.75rem;
	color: #DDDDDD;	
}

#fullpage_sub01 .firstBoldtxt {
	position: relative;
	margin: -60px auto 60px;
	width: 715px;
	height: 258px;
	overflow: hidden;
}

#fullpage_sub01 .firstABline {
	position: absolute;
	top: 0;
	left: -100%;
}

#fullpage_sub01 .secABline {
	position: absolute;
	bottom: 0;
	right: -100%;
}

#fullpage_sub01 .secABline {
	text-align: right;
}

#fullpage_sub01 .firstABline span, 
#fullpage_sub01 .secABline span {
	font-size: 5.375rem;
}

#fullpage_sub01 .firstABline .firstABTit, 
#fullpage_sub01 .secABline .firstABTit {
	margin-right: 20px;
}

#fullpage_sub01 .secRegtxt {
	position: relative;
	top: 90px;
	opacity: 0;
	margin-bottom: 30px;
	font-size: 2.125rem;
	text-align: center;
}

#fullpage_sub01 .thirdBtxt {
	position: relative;
	top: 90px;
	opacity: 0;
	font-size: 3.5rem;
	text-align: center;
}

#fullpage_sub01 .thirdBtxt .chgwb {
	padding: 0 8px;
	color: #fff;
	background-color: #4169E2;
}

#fullpage_sub01 .firstBLine {
	position: relative;
	display: inline-block;
}

#fullpage_sub01 .sblueLine {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 12px;
	background-color: #4169E2;
}

#fullpage_sub01 .lineBoxWrap {
	position: relative;
	width: 100%;
}

#fullpage_sub01 .lineBoxWrap .lineBar {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 0;
	background-color: #4169E2;
}

#fullpage_sub01 .sec02 .lineBar {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 0;
	background-color: #4169E2;
}

#fullpage_sub01 .allConWrap {
	width: 1388px; 
	margin: 0 auto;
}

#fullpage_sub01 .allConWrap .allConleft,
#fullpage_sub01 .allConWrap .allConright {
	position: relative;
	opacity:0;
	width: 547px;
}

#fullpage_sub01 .allConleft {
	left: -300px;
	flex-direction: column; 
    justify-content: space-between;
}

#fullpage_sub01 .allConright {
	right: -300px;
	flex-direction: column; 
    justify-content: space-between;
}

#fullpage_sub01 .allConleft .allConBigtxt {
	width: 100%;
	font-size: 4.125rem;
}

#fullpage_sub01 .allConleft .allConBigtxt .blue {
	color: #4169E2;
}

#fullpage_sub01 .allConleft .allConSemitxt {
	width: 100%;
	font-size: 2rem;
	line-height: 68px;
	margin-bottom:130px;
}

#fullpage_sub01 .allConright p {
	margin-bottom: 40px;
	font-size: 1.5rem;
	line-height: 34px;
}

#fullpage_sub01 .allConright .ceoName {
	margin-top: 80px;
	margin-bottom: 0;
	display:flex;
	align-items:center;
	justify-content:flex-end;
}

#fullpage_sub01 .allConright .ceoName .sign {
	display:inline-block;
	width:150px;
	height:55px;
	margin-left:18px;
	background:url("/images/ceo_sign.png")no-repeat center center;
	background-size:cover;
}

#fullpage_sub01 .sec03 .lineBar {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 0;
	background-color: #4169E2;
}

#fullpage_sub01 .sec03 .lineBar02 {
	position: absolute;
	top: 78%;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 0;
	background-color: #4169E2;
}

#fullpage_sub01 .sec03 .bluFigure {
	background-color: #fff;
}

#fullpage_sub01 .sec03 .bluFigure .blueFig01, 
#fullpage_sub01 .sec03 .bluFigure .blueFig02, 
#fullpage_sub01 .sec03 .bluFigure .blueFig03, 
#fullpage_sub01 .sec03 .bluFigure .blueFig04 {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	opacity: 0;
}

#fullpage_sub01 .sec03 .bluFigure .blueFig01 {
	margin-bottom: 70px;
}

#fullpage_sub01 .sec03 .bluFigure .blueFig02,
#fullpage_sub01 .sec03 .bluFigure .blueFig03 {
	margin-bottom: 47px;
}

#fullpage_sub01 .sec03 .bluFigure .blueFig01 .blackTit, 
#fullpage_sub01 .sec03 .bluFigure .blueFig02 .blackTit, 
#fullpage_sub01 .sec03 .bluFigure .blueFig03 .blackTit, 
#fullpage_sub01 .sec03 .bluFigure .blueFig04 .blackTit {
	justify-content: flex-end;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/*left: -500px;*/
	left: -220px;
	width: 220px;
	/*opacity: 0;*/
}

#fullpage_sub01 .sec03 .bluFigure .blueFig01 .blackTit {
	top: 82%;
}

#fullpage_sub01 .sec03 .blackTit  .left_txt {
	font-size: 1.25rem;
	text-align: center;
	width: calc(100% - 78px);
}

#fullpage_sub01 .sec03 .blackTit .thinLine {
	width: 78px;
	height: 1px;
	background-color: #B4C2EE;
}

#fullpage_sub01 .sec03 .bluFigure .blueFig01 .bigRtang {
	width: 100%;
	height: 180px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../images/retacBack.png")
}

#fullpage_sub01 .sec03 .bluFigure .blueFig01 .bigRtang p {
	padding-top: 100px;
}

#fullpage_sub01 .sec03 .bluFigure .f2 {
	font-size: 2rem;
	/*opacity: 0;*/
}

#fullpage_sub01 .blueFig02 .bigSquare {
	height: 80px;
	background-color: #7995EA;
}

#fullpage_sub01 .blueFig03 .sqrFive {
	width: 18%;
	height: 80px;
	background-color: #D4DEFF;
	border:1px solid #7995EA;
}

#fullpage_sub01 .blueFig04 .sqrThree {
	width: 31.333%;
	height: 80px;
	background-color: #F3F6FF;
	border: 1px solid #B4C2EE;
}

#fullpage_sub01 .sec04 .miviWrap {
	margin: 0 auto;
	width: 1440px;
}

#fullpage_sub01 .sec04 .miviWrap:nth-child(1) {
	margin-bottom: 115px;
}

#fullpage_sub01 .sec04 .miviWrap .miviLeft {
	position: relative;
	margin-right: 250px;
	width: 292px;
}

#fullpage_sub01 .miviWrap .miviLeft .mvbigBlue {
	opacity: 0;
	font-size: 4.75rem;
	color: #4169E2;
}

#fullpage_sub01 .sec04 .miviWrap .miviLeft .lineBarWrap {
	position: relative;
	height: 190px;
}

#fullpage_sub01 .sec04 .miviWrap .miviRight .lineBarWrap {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

#fullpage_sub01 .sec04 .miviWrap .miviRight .lineBarWrap .lineBar {
	width: 3px;
	height: 0%;
	background-color: #4169E2;
}

#fullpage_sub01 .sec04 .miviWrap:nth-child(2) .miviLeft .lineBarWrap .lineBar {
	height: 0;
}

#fullpage_sub01 .sec04 .miviWrap .miviLeft .lineBar {
	position: absolute;
	top: 0;
	width: 6px;
	height: 0;
	background-color: #4169E2;

}

#fullpage_sub01 .miviWrap .miviRight {
	opacity: 0;
}

#fullpage_sub01 .miviWrap .miviRight .mvRtit {
	margin-bottom: 50px;
	font-size: 3.125rem;
}

#fullpage_sub01 .miviWrap .miviRight .mvDet {
	font-size: 1.5rem;
	line-height: 34px;
}

#fullpage_sub01 .miviWrap .miviRight .mvDet.mb40 {
	margin-bottom: 40px;
}

#fullpage_sub01 .sec05 .coreWrap {
	margin: 0 auto;
	width: 1440px;
}

#fullpage_sub01 .sec05 .coreVleft {
	margin-right: 250px;
	width: 292px;
}

#fullpage_sub01 .sec05 .coreVleft .lineBarWrap {
	position: relative;
	margin-top: 50px;
}

#fullpage_sub01 .sec05 .coreVleft .lineBarWrap .lineBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 0;
	background-color: #4169E2;
}

#fullpage_sub01 .sec05 .coreVleft .cvbigBlue {
	opacity: 0;
	font-size: 4.75rem;
	color: #4169E2;
	line-height: 86px;
}

#fullpage_sub01 .sec05 .coreVright {
	position: relative;
	right: -200px;
	opacity: 0;
	width: calc(100% - 292px);

} 

#fullpage_sub01 .coreVright .coreVbox {
	margin-bottom: 20px;
	height: 80px;
	border: 1px solid #4169E2;
}

#fullpage_sub01 .coreVright .coreVbox .coreVblue {
	padding: 0 32px;
	background-color: #4169E2;
}

#fullpage_sub01 .coreVright .coreVbox .coreVblue p {
	color: #fff;
	font-size: 2rem;
}

#fullpage_sub01 .coreVright .coreVbox .coreVwht p {
	margin-left: 40px;
	font-size: 2rem;
}

#fullpage_sub01 .sec06BlueBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 508px;
	background-color: #4169E2;
}

#fullpage_sub01 .sec06 .compWrap {
	margin: 0 auto;
	width: 1440px;
}

#fullpage_sub01 .sec06 .compWrap .whtTit {
	position: relative;
	left: -100px;
	opacity: 0;
	margin-bottom: 45px;
	font-size: 4.75rem;
	color: #fff;
	line-height: 86px;
}

#fullpage_sub01 .ccCardWrap .ccCard {
	position: relative;
	width: 426px;
	height: 505px;
}

#fullpage_sub01 .ccCardWrap .ccFront {
	position: absolute; 
	top: 0;
	left: 0;
	padding: 80px 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #CFD3DF;
	text-align: center;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	transition: all 1s;  
}

#fullpage_sub01 .ccCardWrap .ccCard.turn .ccFront {
	transform: rotateY(0deg);
}

#fullpage_sub01 .ccCardWrap .ccBack {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #CFD3DF;
	transform: rotateY(0deg);
	transition: all 1s;  
	-webkit-backface-visibility: hidden; /* Safari */
}

#fullpage_sub01 .ccCardWrap .ccBack .ccDetail {
	display: none;
}

#fullpage_sub01 .ccCardWrap .ccCard.turn .ccBack {
	transform: rotateY(180deg);
}

#fullpage_sub01 .ccCardWrap .ccCard .ccTopTit {
	margin-bottom: 20px;
	font-size: 1.5rem;
}

#fullpage_sub01 .ccCardWrap .ccCard .ccBigTit {
	margin-bottom: 20px;
	font-size: 3.5rem;
}

#fullpage_sub01 .ccCardWrap .ccCard .ccBigTit.blu01 {
	color: #4169E2;
}

#fullpage_sub01 .ccCardWrap .ccCard .ccBigTit.blu02 {
	color: #3BB1F9;
}

#fullpage_sub01 .ccCardWrap .ccCard .ccBigTit.blu03 {
	color: #68D2D2;
}

#fullpage_sub01 .ccCardWrap .ccCard .ccDetail {
	margin-top: 20px;
	font-size: 1.25rem;
}

#fullpage_sub01 .sec07 .crobFlex {
	margin: 0 auto;
	width: 1440px;
}

#fullpage_sub01 .blueTit {
	font-size: 4.75rem;
	color: #4169E2;
}

#fullpage_sub01 .crobCiWrap {
	padding-top: 80px;
	width: 900px;
}

#fullpage_sub01 .crobCiWrap .crobCiTit {
	margin-bottom: 20px;
	font-size: 4.75rem;
	text-align: center;
}

#fullpage_sub01 .crobCiWrap .crobCiTit .blue {
	color: #4169E2;
}

#fullpage_sub01 .crobCiWrap .crobCiDet {
	margin-bottom: 40px;
	font-size: 1.5rem;
	text-align: center;
}

#fullpage_sub01 .crobCiWrap .crobCiBox {
	padding: 60px 0;
	border: 1px solid #DDDDDD;
	width: 100%; 
}

#fullpage_sub01 .crobCiWrap .crobCiBox.mb20 {
	margin-bottom: 20px;
}

#fullpage_sub01 .sec08 .colorFlex {
	margin: 0 auto;
	width: 1440px;
}

#fullpage_sub01 .sec08 .colorWrap {
	width: 900px;
}

#fullpage_sub01 .colorWrap .colorBox {
	margin-bottom: 50px;
}

#fullpage_sub01 .colorWrap .colorBox .colorTxt .cTbig {
	margin-bottom: 10px;
	font-size: 2.125rem;
}

#fullpage_sub01 .colorWrap .colorBox .colorTxt .cTreg  {
	font-size: 1.5rem;
}

#fullpage_sub01 .colorWrap .colorBox .colorTop {
	margin-bottom: 30px;
	height: 80px;
}

#fullpage_sub01 .colorWrap .colorBox .colorBigBox {
	width: 288px;
	height: 100%;
}

#fullpage_sub01 .colorWrap .colorBox .colorBigBox p {
	color: #fff;
	font-size: 1.5rem;
}

#fullpage_sub01 .colorBox .colBdetail {
	margin-bottom: 20px;
	font-size: 1.5rem;
	line-height: 38px;
}

#fullpage_sub01 .colorBox .colorGrad {
	height: 120px;
}

#fullpage_sub01 .colorBox .colorGrad .color50 {
	width: 50%;
}

#fullpage_sub01 .colorBox .colorGrad .color50 .cGtit {
	font-size: 1.5rem;
	color: #fff;
}

#fullpage_sub01 .colorBox .colorGrad .color50 .cGrgb {
	font-size: 1.125rem;
	color: #fff;
}

#fullpage_sub01 .colorBox .colorGrad .color50 .cMYK {
	font-size: 1.125rem;
	color: #fff;
}

#fullpage_sub01 .colorBox .colorGrad .color50:nth-child(1) {
	padding: 10px 20px;
	box-sizing:border-box;
}

#fullpage_sub01 .colorBox .colorGrad .color50 .colorSmall {
	padding: 10px;
	box-sizing:border-box;
	width: 20%;
}

#fullpage_sub01 .colorBox .colorGrad .color50 .colorSmall p {
	color: #fff;
	font-size: 1.125rem;
}


#fullpage_sub02 .pagesideTit {
	position: absolute;
	top: 34%;
	left: -70px;
	transform: rotate(90deg);
	font-size: 4.75rem;
	color: #DDDDDD;	
}

#fullpage_sub02 .worksWrap {
	margin:  0 auto;
	width: 1440px;
}


#fullpage_sub02 .worksWrap .workTopTxt {
	opacity: 0;
}

#fullpage_sub02 .worksWrap .workTopTxt .topTxt01 {
	margin-bottom: 40px;
	font-size: 2.375rem;
}

#fullpage_sub02 .worksWrap .workTopTxt .topTxt01 .blue {
	color: #4169E2;
}

#fullpage_sub02 .worksWrap .workTopTxt .topTxt02 {
	margin-bottom: 120px;
	font-size: 3.5rem;
	font-weight: 300;
}

#fullpage_sub02 .worksWrap .workBotTxt  {
	opacity: 0;
}

#fullpage_sub02 .worksWrap .workBotTxt p {
	font-size: 1.5rem;
	line-height: 34px;
}

#fullpage_sub02 .worksWrap .workBotTxt p:nth-child(1) {
	margin-bottom: 40px;
}

#fullpage_sub02 .worksWrap .worksRight {
	opacity: 0;
	position: relative;
	width: 530px;
	height: 530px;
}

#fullpage_sub02 .worksWrap .worksRight .arrowCir {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-image: url("/images/works_arr.svg");
}

#fullpage_sub02 .worksWrap .worksRight .arrowCir.on {
	animation: rotate 8s linear 0s infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}


#fullpage_sub02 .worksWrap .worksRight .arrowInTxt {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#fullpage_sub02 .arrowInTxt .arrowTxtBox {
	text-align: center;
}

#fullpage_sub02 .arrowInTxt .arrowTxtBox:nth-child(1) {
	margin-bottom: 30px;
	text-align: center;
}

#fullpage_sub02 .arrowInTxt .arrowTxtBox .arrTit {
	font-size: 2.125rem;
}

#fullpage_sub02 .arrowInTxt .arrowTxtBox .arrNumBlue span {
	font-size: 3.5rem;	
	color: #4169E2;
}

#fullpage_sub02 .arrowInTxt .arrowTxtBox .arrNumBlue span.ctNm {
	width: 144px;
	text-align: right;
}

#fullpage_sub02 .arrowInTxt .arrowTxtBox .arrNumBlue span.visiNm {
	width: 389px;
	text-align: right;
}

#fullpage_sub02 .arrowInTxt .arrowTxtBox .arrNumBlue span:nth-child(2) {
	margin-left: 10px;
	font-size: 2.125rem;
	font-weight: 400;
	width: 30px;
}


#fullpage_sub04 .pagesideTit {
	position: absolute;
	top: 34%;
	left: -135px;
	transform: rotate(90deg);
	font-size: 4.75rem;
	color: #DDDDDD;
}

#fullpage_sub04 .mapInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1440px;
}

#fullpage_sub04 .mapInfo .map {
	position: relative;
	width: 795px;
	height: 384px;
	background-image: url("/images/dot_map.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#fullpage_sub04 .mapInfo .map_cirWrap {
	position: absolute; 
	top: 25%;
	right: 14%;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #4169E2;
	opacity: 0;
}

#fullpage_sub04 .mapInfo .map_cirWrap .map_cir {
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background-color: #4169E2;
	animation: cir-effect 1s ease-in-out infinite both;
}


@keyframes cir-effect {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


#fullpage_sub04 .mapInfo .map_point {
	position: absolute;
	top: 14%;
	right: 16%;
	width: 229px;
	height: 64px;
	background-image: url("/images/map_point.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0;
}

#fullpage_sub04 .mapInfo .map_point.show {
	top: 10%;
	right: 18%;
	opacity: 1;
	transition: all 0.5s;
}


#fullpage_sub04 .infoTxtBox {
	border-top: 1px solid #4169E2;
	padding-top: 40px;
	width: 540px;
}

#fullpage_sub04 .infoTxtBox .mapinfoTit {
	margin-bottom: 10px;
	font-size: 3.5rem;
	font-weight: 600;
}

#fullpage_sub04 .infoTxtBox .mapSubTit {
	margin-bottom: 40px;
	font-size: 2.125rem;
	font-weight: 500;
}

#fullpage_sub04 .infoTxtBox .addrInfo {
	margin-bottom: 13px;
	font-size: 1.5rem;
}

#fullpage_sub04 .infoTxtBox .emailInfo {
	margin-bottom: 30px;
	font-size: 1.125rem;
	color: #707070;
}

#fullpage_sub04 .infoTxtBox .engAddr {
	font-size: 1.125rem;
	color: #707070;
	line-height: 24px;
}

#fullpage_sub04 .reviewWrap {
	margin: 0 auto;
	width: 1440px;
}

#fullpage_sub04 .reviewTit {
	/*width: calc(100% - 540px);*/
	width: calc(100% - 720px);
}

#fullpage_sub04 .reviewTit .logo_formWrap {
	position: relative;
	/*width: 434px;*/
	width: 100%;
	height: 100%;
	justify-content:center;
}

#fullpage_sub04 .reviewTit .topline {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #4169E2;
}

#fullpage_sub04 .reviewTit .botline {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background-color: #4169E2;
}

