input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
  color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:transparent;
}

input::-webkit-input-placeholder { font-size: 12px;color:#aaa;}
input::-moz-placeholder { font-size: 12px;color:#aaa;}
input:-ms-input-placeholder { font-size: 12px;color:#aaa;}
input:-moz-placeholder { font-size: 12px;color:#aaa;}

textarea::-webkit-input-placeholder { font-size: 12px;color:#aaa;}
textarea::-moz-placeholder { font-size: 12px;color:#aaa;}
textarea:-ms-input-placeholder { font-size: 12px;color:#aaa;}
textarea:-moz-placeholder { font-size: 12px;color:#aaa;}